body {
  font-size: 15px;
}

p {
  margin: 0;
}

#output-wrapper {
  position: relative;
  width: 960px;
  height: 720px;
  margin-top: 0.5em;
}

#render-output {
  width: 960px;
  height: 720px;
  object-fit: contain;
}

.controls {
  margin-top: 0.5em;
}

.slider {
  margin-right: 0.5em;
  width: 100%;
}

.nested-slider {
  padding-left: 40px;
}

#console {
  height: 150px;
  width: 300px;
  padding: 0rem;
  white-space: pre-line;
}