body {
  font-size: 15px;
}

p {
  margin: 0 0 0.8rem;
}

#output-wrapper {
  margin-top: 0.5em;
}

#render-output {
  width: 100%;
  height: 65vmin;
  object-fit: contain;
}

.controls {
  margin-top: 0.5em;
}

.slider {
  margin-right: 0.5em;
  width: 100%;
}

.nested-slider {
  padding-left: 40px;
}

.console {
  height: 120px;
  padding: 0 0 0 1em;
  white-space: pre-line;
}

#res-label {
  padding-bottom: 4px;
  padding-top: 0px;
  margin-top: -1px;
  font-size: 15px;
}

.divider-vert {
  padding: 0;
}